/* ==============================
subpages
============================== */
.page-template-page-team {
  .hero {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    min-height: 60vh;

    .hero-content {
      align-content: flex-end;
      align-items: flex-start;
      font-size: 5rem;
      margin: 0 1rem;
      max-width: 100%;
      padding: 1rem;

      @media (min-width: 769px) {
        font-size: 9rem;
        margin: 0 0 6% 6%;
        max-width: 60%;
        padding: 3rem;
      }
    }

    h2.page-subheader {
      color: $c_white;
      margin-bottom: 1rem;
    }

    p.cta-header {
      color: $c_accent;
      text-align: left;
    }
  }
}
