.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 800px;
  overflow: hidden;
  padding: 0;
  flex-direction: column;
  position: relative;

  // #chevron-icon .cls-1 {
  //   fill: none;
  // }

  // .chevron-icon {
  //   max-width: 45px;
  //   padding-top: 3em;

  //   @include mq-min($screen-md) {
  //     padding-top: 8em;
  //   }
  // }

  .hero-background-image {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    img {
      object-fit: cover;
      object-postion: center;
      height: 100%;
      width: 100%;
    }
  }

  .hero-content__wrapper {
    color: $c_white;
    display: flex;
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    width: 100%;
    z-index: 2;
    @include mq-min($screen-sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
    &.container {
      padding: 0 4rem;
      @include mq-min($screen-md) {
        padding: 0 8rem;
      }
    }
    .hero-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      @include mq-min($screen-md) {
        width: 600px;
      }
      @include mq-min($screen-lg) {
        width: 900px;
      }
      span.line {
        height: 8px;
        background-color: $c_accent;
        width: 196px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      p.eyebrow {
        color: $c_white;
      }
      h1 {
        // color: $c_white;
        // font-family: $font_primary;
        // font-size: 6.8rem;
        // font-weight: $fw_bold;
        // letter-spacing: -1.3px;
        // line-height: 8rem;
        // text-transform: uppercase;
      }

      h2.light-blue {
        color: $c_primary;
      }
    }
  }

  .hero-support {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .desktop-only {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .mobile-only {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.home {
  .hero-content__wrapper {
    @include mq-min($screen-sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
    .hero-content {
      text-align: left;
      @include mq-min($screen-lg) {
        width: 600px;
      }
      h1 {
        color: $c_primary;
        font-size: 9.8rem;
        line-height: 0.95;
      }
    }
  }
}

.animate-all {
  transition: all 0.2s ease-in-out;
}

.hero-content {
  .page-header {
    margin-bottom: 3rem;
  }

  .page-subheader {
    color: $theme-alt;
    margin-bottom: 0.5em;

    @include mq-min($screen-sm) {
      margin-bottom: 1em;
    }

    @include mq-min($screen-md) {
      margin-bottom: 1.6em;
    }

    @include mq-min($screen-lg) {
      margin-bottom: 2.6em;
    }
  }

  p {
    font-size: 2rem;
    font-weight: 100;
    color: $c_gray;
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  .cta-header {
    margin-bottom: 3rem;
  }
}

.error404 {
  .hero-content {
    p.eyebrow {
      margin-bottom: 0;
    }
    h1 {
      font-size: 9.8rem;
      margin-bottom: 0;
    }
    p.c_white {
      color: $c_white;
    }
  }
  p:last-of-type {
    margin-bottom: 7rem;
  }
}
