// GRID 1
.masonry {
  &__block-2 {
    padding-bottom: 20rem;
  }
  &__row {
    margin-bottom: 1rem;
    width: 100%;
    .static-image {
      min-height: 366px;
      @include mq-min($screen-sm) {
        max-height: 450px;
      }
      @include mq-min($screen-sm) {
        max-height: 100%;
      }
    }
    .short-image {
      padding-bottom: 1rem;
      max-height: 206px;
      @include mq-min($screen-sm) {
        padding-bottom: initial;
        max-height: 350px;
      }
    }
  }
  &__content-wrapper:not(.text-content) {
    margin-bottom: 4em;
  }
  &__grid {
    margin: 0 auto;
    .masonry__grid {
      margin-bottom: -50rem !important;
      padding: 1rem 1rem 23rem 1rem;
      transform: translateY(-50rem);
    }
    .column-content {
      margin-bottom: 2.5rem;
    }
    .cta_link {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 12px;
      line-height: 1;
      padding: 0;
      text-transform: uppercase;
      color: #0e7e97;
      @include mq-min($screen-sm) {
        font-size: 14px;
      }
    }
    .text-content {
      padding: 1em;
      margin-bottom: 40px;
      @include mq-min($screen-sm) {
        padding: 4em 4em 2em;
      }
      .column-title {
        max-width: 400px;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: -0.4px;
        @include mq-min($screen-sm) {
          font-size: 50px;
          line-height: 1.06;
          letter-spacing: -0.9px;
        }
      }
      .column-content {
        max-width: 500px;
        line-height: 2.8rem;
        @include mq-min($screen-sm) {
          margin-bottom: 2.5rem;
        }
      }
      .eyebrow {
        margin-bottom: 1.5rem;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.7px;
        @include mq-min($screen-sm) {
          margin-bottom: 2.5rem;
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 14px;
        }
      }
      &.shifted-text__down {
        @include mq-min($screen-sm) {
          padding-top: 8em;
        }
      }
    }
    .slick-slider button.slick-prev {
      display: none !important;
    }
    .info-slider {
      margin-bottom: 1rem;
      margin-right: 0;
      min-height: 430px;
      width: 100%;
      flex-basis: 100%;
      @include mq-min($screen-md) {
        margin-right: 10px;
        margin-bottom: 0;
        width: 35%;
        flex-basis: 35%;
      }
      @include mq-min($screen-lg) {
        width: 25%;
        flex-basis: 25%;
      }
    }
    .second-featured-slider,
    .featured-slider {
      .slider-large-card__wrapper {
        height: 100%;
        > .flex-grid {
          height: 100%;
        }
        .flex-2.image__wrapper {
          height: 290px;
          @include mq-min($screen-sm) {
            height: auto;
          }
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: rgb(0, 0, 0);
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 1) 0%,
              rgba(0, 0, 0, 0.6096813725490196) 52%,
              rgba(255, 255, 255, 0) 100%
            );
            @include mq-min($screen-sm) {
              content: none;
            }
          }
        }
        .img-responsive {
          width: auto;
        }
      }
      .masonry__card {
        order: 1;
        @include mq-min($screen-sm) {
          order: 0;
        }
      }
      &.slick-slider .img-responsive {
        width: 100%;
        @include mq-min($screen-sm) {
          width: auto;
        }
      }
    }
    .large__info-slider {
      @include mq-min($screen-sm) {
        padding-left: 1rem;
      }
      @include mq-min($screen-lg) {
        max-width: 450px;
      }
    }
  }
  &__card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    position: relative;
    @include mq-min($screen-sm) {
      flex-grow: 1;
    }
    @include mq-min($screen-lg) {
      flex-grow: 0;
    }
    .support-large-text {
      position: absolute;
      bottom: -2rem;
      right: -6rem;
      font-size: 260px;
      line-height: 200px;
      opacity: 0.2;
      font-weight: 600;
    }
    &.slick-slide {
      .column-title {
        @include mq-min($screen-sm) {
          font-size: 2.8rem;
          line-height: 3.2rem;
        }
      }
    }
    h3,
    p,
    a {
      color: inherit;
    }
    .column-title {
      font-size: 25px;
      line-height: 1.17;
      letter-spacing: -0.7px;
      @include mq-min($screen-sm) {
        font-size: 2rem;
        line-height: 2.4rem;
      }
      @include mq-min($screen-lg) {
        font-size: 2.8rem;
        line-height: 3.2rem;
      }
    }
    .eyebrow {
      font-size: 12px;
      font-weight: 400;
      @include mq-min($screen-sm) {
        font-size: 14px;
      }
    }
    .cta_link {
      margin-top: auto;
      color: #fff;
    }
    .sup_eyebrow {
      font-weight: 400;
      margin-bottom: 1.5rem;
      line-height: 1.12;
      font-size: 10px;
      max-width: 230px;
      letter-spacing: 1.4px;
      @include mq-min($screen-sm) {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: normal;
      }
    }
  }
}

.flex-2.image__wrapper {
  height: 50%;
  position: relative;
  @include mq-min($screen-sm) {
    height: auto;
  }
}

.yellow-block {
  background-color: #ff9f00;
}

.aqua-block {
  background-color: #0e7e97;
  .button::after {
    filter: invert(100%);
  }
}

.home {
  main {
    section:first-of-type {
      position: relative;
      transform: translatey(-12rem);
      z-index: 1;
      margin-bottom: -12rem;
    }
  }
}

.block-text {
  display: block;
}

.large {
  &__featured-text.slick-slide {
    .column-title {
      @include mq-min($screen-sm) {
        font-size: 4.8rem;
        line-height: 5.6rem;
        padding-top: 1rem;
      }
    }
    .large-text {
      display: block;
      font-size: 6.6rem;
      @include mq-min($screen-sm) {
        font-size: 7.6rem;
      }
    }
  }
  &__info-slider {
    .column-title {
      font-size: 36px;
    }
    &.info-slider__square {
      min-height: 275px;
      margin-bottom: 1rem;
      height: 100%;
      @include mq-min($screen-sm) {
        min-width: 450px;
      }
      @include mq-min($screen-sm) {
        min-height: 450px;
        margin-left: auto;
        .masonry__card {
          min-height: 450px;
        }
      }
      @include mq-min($screen-lg) {
        min-height: 530px;
        width: 67%;
        max-width: 100%;
      }
      .masonry__card {
        // min-height: 270px;
        @include mq-min($screen-lg) {
          min-height: 530px;
        }
      }
      .column-title {
        @include mq-max($screen-sm) {
          font-size: 35px;
        }
      }
    }
  }
  &__column-slider {
    min-height: 430px;
    height: 100%;
    @include mq-min($screen-sm) {
      height: auto;
    }
    .column-content {
      margin-bottom: 4em;
    }
    @include mq-min($screen-sm) {
      min-height: 600px;
      .masonry__card {
        min-height: 600px;
      }
    }
  }
}

.custom_paging li {
  display: none;
  &:first-of-type {
    display: block;
  }
}

.second-featured-slider,
.featured-slider {
  .slick-next.slick-arrow {
    right: 2rem;
    left: initial;
    top: 260px;
    @include mq-min($screen-sm) {
      bottom: 3.5rem;
      top: initial;
    }
  }
  ul.custom_paging {
    top: 260px;
    right: 15rem;
    left: initial;
    @include mq-min($screen-sm) {
      right: 121px;
      top: initial;
      bottom: 3.5rem;
    }
  }
}

.slick-next.slick-arrow {
  left: 8.8rem;
  bottom: 48px;
  color: #fff;
  height: 14px;
  font-size: 12px;
  @include mq-min($screen-sm) {
    font-size: initial;
    bottom: 3.5rem;
  }
  &:after {
    filter: invert(100%);
  }
}

ul.custom_paging {
  left: 3.8rem;
  bottom: 48px;
  position: absolute;
  margin-bottom: 0;
  height: 14px;
  color: white;
  font-size: 12px;
  opacity: 0.4;
  font-weight: 800;
  @include mq-min($screen-sm) {
    left: 3.7rem;
    bottom: 3.5rem;
    font-size: 14px;
  }
  li {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    @include mq-min($screen-sm) {
      font-size: 14px;
    }
  }
  span {
    padding: 0 5px;
    &:first-of-type {
      padding-left: 0;
    }
  }
}
